@media only screen and (min-width: 768px) {
  #site-wrapper {
    width: 93vw;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  nav {
    margin-top: 2.9vw;
  }

  #logo {
    width: 7.1vw;
    height: 2.2vw;
    font-size: 0.97vw;
  }

  #open-nav {
    display: none;
  }

  #menu {
    height: fit-content;
    width: fit-content;
    position: static;
    transition: 0s;
    background-color: #181719;
  }

  #close-nav {
    display: none;
  }

  #list-wrapper {
    margin-top: 0vw;
  }

  ul {
    flex-direction: row;
    align-items: flex-start;
    margin-left: 45vw;
  }

  li {
    font-size: 1.25vw;
    margin-bottom: auto;
    transition: 0s;
    margin-right: 5.97vw;
  }

  #home {
    margin-bottom: 0vw;
  }

  #line {
    border: 1px solid;
    margin-top: 0.5vw;
  }

  main {
    display: flex;
    flex-direction: row;
    margin-top: 11.8vw;
  }

  #text-wrapper {
    margin-top: 9.4vw;
  }

  h1 {
    font-size: 3.3vw;
  }

  #text-wrapper > p {
    font-size: 1.6vw;
    margin-top: 2.7vw;
  }

  #read-more {
    margin-top: 3.3vw;
  }

  #read-more p {
    font-size: 1.25vw;
  }

  #read-more span {
    margin-left: 0.97vw;
    font-size: 1.67vw;
  }

  #images-wrapper {
    top: 0vw;
    left: 13vw;
  }

  #images-wrapper img {
    width: 51vw;
  }

  #card-wrapper {
    width: 28.5vw;
    height: 13vw;
    top: 33vw;
    left: 20vw;
  }

  #card img {
    width: 3.4vw;
    margin-left: 2.1vw;
    margin-top: 1.25vw;
  }

  #name-and-job {
    margin-left: 1.3vw;
    margin-top: 1.6vw;
  }

  #name {
    font-size: 0.97vw;
  }

  #job {
    font-size: 0.83vw;
    margin-top: 0.55vw;
  }

  #card-text {
    font-size: 1.67vw;
    width: 20vw;
    margin-top: 1.74vw;
    margin-left: 1.8vw;
  }

  footer {
    margin-top: 16.6vw;
    margin-bottom: 1.97vw;
    font-size: 0.97vw;
  }
}
