* {
  margin: 0;
  padding: 0;
  font-style: normal;
}

a {
  cursor: pointer;
}

a, a:hover, a:focus {
  color: #f1f1f1;
}

body {
  background: #181719;
  color: #ffffff;
  font-style: normal;
}

#site-wrapper {
  width: 93vw;
  height: 207vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vw;
}

#open-button i {
  color: white;
  font-size: 5vw;
}

#menu {
  display: flex;
  flex-direction: column;
  height: 207vw;
  width: 0;
  position: absolute;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  transition: 0.5s;
}

#list-wrapper {
  margin-top: 57vw;
}

ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  color: white;
  transition: 0.3s;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 4.8vw;
  margin-bottom: 8.5vw;
  width: fit-content;
}

li a {
  text-decoration: none;
}

#home a {
  margin-top: 2.1vw;
  font-weight: 700;
}

hr {
  height: 0.53vw;
  color: white;
  background-color: white;
}

#line {
  height: 0px;
  border: 2px solid #FFFFFF;
  background-color: white;
  margin-top: 2.1vw;
}

#home {
  margin-bottom: 6.4vw;
}

#close-button i {
  font-size: 5.9vw;
  margin-top: 5.8vw;
  margin-left: 89vw;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.5vw;
  height: 8.3vw;
  background: #181719;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-family: Crimson Pro;
  font-weight: 200;
  font-size: 3.7vw;
  text-transform: uppercase;
}

#text-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
}

h1 {
  font-family: Lora;
  font-weight: 500;
  font-size: 9.6vw;
}

#text-wrapper p {
  font-family: Montserrat;
  font-size: 3.7vw;
  margin-top: 6.7vw;
}

#text-wrapper a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3.7vw;
  margin-top: 6.7vw;
  color: white;
  text-decoration: none;
}

#text-wrapper a i {
  width: 5vw;
  height: 1.7vw;
}

#images-wrapper {
  position: relative;
  top: 6.7vw;
  left: 0;
}


#images-wrapper img {
  position: relative;
  top: 0;
  left: 0;
  width: 93.6vw;
  height: auto;
}

#card {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80vw;
  height: 36.8vw;
  top: 57vw;
  left: 10.6vw;
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#card-wrapper {
  display: flex;
  flex-direction: row;
}

#card-wrapper img {
  width: 9.75vw;
  height: auto;
  border-radius: 50%;
  margin-left: 6vw;
  margin-top: 3.5vw;
}

#name-and-job {
  display: flex;
  flex-direction: column;
  margin-left: 3.7vw;
  margin-top: 4.5vw;
}

#name {
  font-family: Montserrat;
  font-size: 3.2vw;
}

#job {
  font-family: Montserrat;
  font-size: 2.6vw;
  color: #828282;
  margin-top: 1.5vw;
}

#card-text {
  font-family: Lora;
  font-weight: bold;
  font-size: 4.8vw;
  width: 56vw;
  margin-top: 4.9vw;
  margin-left: 5vw;
}

footer {
  font-family: 'Montserrat', sans-serif;
  color: #a9a9a9;
  margin-top: auto;
  margin-bottom: 6.4vw;
  text-align: center;
  font-size: 3.7vw;;
}
