* {
  margin: 0;
  padding: 0;
  font-style: normal;
}

a {
  cursor: pointer;
}

a, a:hover, a:focus {
  color: #ffffff;
}

body {
  background-color: #181719;
  color: #ffffff;
  font-style: normal;
  font-family: Montserrat;
}

#site-wrapper {
  width: 93vw;
  height: 207vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vw;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.5vw;
  height: 8.3vw;
  background: #181719;
  border: 1px solid;
  font-family: Crimson Pro;
  font-weight: 200;
  font-size: 3.7vw;
  text-transform: uppercase;
}

#openNav {
  font-size: 5vw;
}

#menu {
  display: flex;
  flex-direction: column;
  height: 207vw;
  width: 0;
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
  background-color: black;
}

#closeNav {
  font-size: 5.9vw;
  margin-top: 5.8vw;
  margin-left: 89vw;
}

#list-wrapper {
  margin-top: 57vw;
}

ul {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

li {
  text-align: center;
  width: fit-content;
  font-weight: 500;
  font-size: 4.8vw;
  margin-bottom: 8.5vw;
  transition: 0.3s;
}

li a {
  text-decoration: none;
}

#home {
  margin-bottom: 6.4vw;
}

#home a {
  margin-top: 2.1vw;
  font-weight: 700;
}

#line {
  height: 0px;
  border: 2px solid;
  background-color: white;
  margin-top: 2.1vw;
}

#text-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
}

h1 {
  font-family: Lora;
  font-weight: 500;
  font-size: 9.6vw;
}

#text-wrapper p {
  font-size: 3.7vw;
  margin-top: 6.7vw;
}

#text-wrapper a {
  font-weight: bold;
  font-size: 3.7vw;
  margin-top: 6.7vw;
  text-decoration: none;
}

#text-wrapper a i {
  width: 5vw;
  height: 1.7vw;
  margin-left: 3.2vw;
}

#images-wrapper {
  position: relative;
  top: 6.7vw;
  left: 0;
}

#images-wrapper img {
  position: relative;
  top: 0;
  left: 0;
  width: 93.6vw;
  height: auto;
}

#card-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80vw;
  height: 36.8vw;
  top: 57vw;
  left: 10.6vw;
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#card {
  display: flex;
  flex-direction: row;
}

#card img {
  width: 9.75vw;
  height: auto;
  border-radius: 50%;
  margin-left: 6vw;
  margin-top: 3.5vw;
}

#name-and-job {
  display: flex;
  flex-direction: column;
  margin-left: 3.7vw;
  margin-top: 4.5vw;
}

#name {
  font-size: 3.2vw;
}

#job {
  font-size: 2.6vw;
  color: #828282;
  margin-top: 1.5vw;
}

#card-text {
  font-family: Lora;
  font-weight: bold;
  font-size: 4.8vw;
  width: 56vw;
  margin-top: 4.9vw;
  margin-left: 5vw;
}

footer {
  color: #a9a9a9;
  margin-top: auto;
  margin-bottom: 6.4vw;
  text-align: center;
  font-size: 3.7vw;;
}


@media only screen and (min-width: 768px) {
  
  #site-wrapper {
    width: 93vw;
    height: 207vw;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  nav {
    margin-top: 2.9vw;
  }
  
  #logo {
    width: 7.1vw;
    height: 2.2vw;
    font-size: 0.97vw;
  }
  
  #openNav {
    display: none;
  }
  
  #menu {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    position: static;
    transition: 0s;
    background-color: #181719;
  }

  #closeNav {
    display: none;
  }
  
  #list-wrapper {
    margin-top: 0vw;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 45vw;
  }
  
  li {
    font-weight: 500;
    font-size: 1.25vw;
    margin-bottom: auto;
    transition: 0s;
    margin-right: 5.97vw;
  }
  
  #home {
    margin-bottom: 0vw;
  }
  
  #line {
    border: 1px solid;
    margin-top: 0.5vw;
  }

  main {
    display: flex;
    flex-direction: row;
    margin-top: 11.8vw;
  }
  
  #text-wrapper {
    margin-top: 9.4vw;
  }
  
  h1 {
    font-size: 3.3vw;
  }
  
  #text-wrapper p {
    font-size: 1.6vw;
    margin-top: 2.7vw;
  }
  
  #text-wrapper a {
    font-size: 1.25vw;
    margin-top: 3.3vw;
  }
  
  #text-wrapper a i {
    width: 5vw;
    height: 1.7vw;
    margin-left: 1vw;
  }
  
  #images-wrapper {
    position: relative;
    top: 0vw;
    left: 13vw;
  }
  
  #images-wrapper img {
    position: relative;
    width: 51vw;
  }
  
  #card-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80vw;
    height: 36.8vw;
    top: 57vw;
    left: 10.6vw;
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #card {
    display: flex;
    flex-direction: row;
  }
  
  #card img {
    width: 9.75vw;
    height: auto;
    border-radius: 50%;
    margin-left: 6vw;
    margin-top: 3.5vw;
  }
  
  #name-and-job {
    display: flex;
    flex-direction: column;
    margin-left: 3.7vw;
    margin-top: 4.5vw;
  }
  
  #name {
    font-size: 3.2vw;
  }
  
  #job {
    font-size: 2.6vw;
    color: #828282;
    margin-top: 1.5vw;
  }
  
  #card-text {
    font-family: Lora;
    font-weight: bold;
    font-size: 4.8vw;
    width: 56vw;
    margin-top: 4.9vw;
    margin-left: 5vw;
  }
  
  footer {
    color: #a9a9a9;
    margin-top: auto;
    margin-bottom: 6.4vw;
    text-align: center;
    font-size: 3.7vw;;
  }



}
